# Игнорирование файлов и папок для front-end

# Node.js
/**/node_modules

# Файлы сборки
/client/build
/api/dist

# Игнорирование файлов конфигурации
/**/.env

# Игнорирование зависимостей пакетного менеджера
/**/yarn.lock

# Игнорирование IDE-специфичных файлов
.idea
.vscode
*.sublime-project
*.sublime-workspace

/**/.eslintrc.js
/**/.prettierrc